.Trello-Nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 50px;
  height: auto;
  gap: 50px;
  background-color: #026aa7;
  color: aliceblue;
}

.Trello-Nav .addbutton {
  background-color: #033552;
  border: none;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 5px;
}

.Trello-Nav .addbutton:hover {
  cursor: pointer;
}
.Trello-Nav .addbutton:active {
  scale: 0.92;
}

.Trello {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: column;
}

.Trello header {
  width: 100%;
}

.addbutton .titlename {
  text-overflow: ellipsis;
  max-width: 50px;
  overflow: hidden;
  pointer-events: none;
}
